body {
	background-image: url("https://github.com/AstroWildcat/thevintagenet/blob/main/background.jpg");
	color: #000;
	font-family: "Rockwell", sans-serif;
	font-size: 12pt;
	text-align: center;
	margin: 50px;
}
.box {
	background-color: rgba(255,255,255,0.85);
	padding: 25px;
	border-radius: 10px;
	margin-bottom: 25px;
	list-style-type: none;
}
pre, code {font-family: monospace; font-size: 10pt;}
footer {font-size: 10pt; text-align: center;}
textarea, input {vertical-align: text-top; font-family: sans-serif;}
